<html>

<head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <title>Super Awesome Chatroom</title>
</head>

<body>
    <h1>Super Awesome Chatroom</h1>
    <div id="abId0.6511961221694946">
        <div class="inlineBlock" id="abId0.5222857659682631"><span id="abId0.24520547594875097">Your name:<input type="text" value="Anonymous" id="name"></span>
            <br>
            <form id="messageForm">
                <textarea rows="4" cols="50" placeholder="Share something!" maxlength="200" id="outgoingMessage"></textarea>
                <input type="button" value="Share" id="send" disabled="disabled">
            </form>
        </div>
        <div class="inlineBlock topAligned"><b>Participants</b>
            <br>
            <div id="participants"><span id="PzORkyGBDS_XV3P-AAAB">Alex (You)<br></span>
            </div>
        </div>
    </div>
    <div id="messages"><b>Alex</b>
        <br>Hey
        <hr>
    </div>
</body>

</html>